<div
  class="cta-section"
  style="
    --cta-background-color: {{ section.settings.background_color }};
    --padding: {{ section.settings.container_y_padding }}px {{ section.settings.container_x_padding }}px;
  "
>
  <div class="cta-section__text">
    {% if section.settings.sub_header != blank %}
      <h3 class="cta-section__sub-header">{{ section.settings.sub_header }}</h3>
    {% endif %}

    {% if section.settings.header != blank %}
      <h2 class="cta-section__header">{{ section.settings.header }}</h2>
    {% endif %}

    {% if section.settings.description != blank %}
      <div class="cta-section__description">
        {{ section.settings.description }}
      </div>
    {% endif %}

    {% if section.settings.button_text != blank and section.settings.button_link != blank %}
      <a
        href="{{ section.settings.button_link }}"
        class="cta-section__button button"
      >
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
  <div class="cta-section__image"></div>
</div>

{% stylesheet %}
  .cta-section {
    background-color: var(--cta-background-color);
    display: flex;
    flex-direction: row;
  }

  .cta-section__text {
    padding: var(--padding);
    width: 55.31%;
  }

  .cta-section__sub-header {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .cta-section__image {
    width: 44.69%;
    background-color: red;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Call to Action",
  "class": "call-to-action-section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#EAD4C9"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "container_x_padding",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Container Horizontal Padding",
      "default": 40,
      "info": "Left and right padding for the content container"
    },
    {
      "type": "range",
      "id": "container_y_padding",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Container Vertical Padding",
      "default": 50,
      "info": "Top and bottom padding for the content container"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "sub_header",
      "label": "Sub Header"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "product",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Call to Action",
      "settings": {
        "background_color": "#EAD4C9",
        "container_x_padding": 40,
        "container_y_padding": 50,
        "image_position": "right",
        "button_text": "BALL OUT"
      }
    }
  ]
}
{% endschema %}
